/* COLOR BOX*/

/* title text color (h) #212121 */
/* primary text color (p) #757575 */
/* color of white text (p) #FFFFFF */
/* color of white text aditional with alfa channel (info/tel)  rgba(255, 255, 255, 0.6)*/
/* color blue for hover #2196F3 */
/* social icons and clients logo #AFB1B8*/
/* background color main #FFFFFF*/
/* backround editional color #F5F4FA */
/* backround footer #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-text-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --white-text-color: #ffffff;
  --grey-back-color: #f5f4fa;
}

/* CLASSES UTILITIES AND UNIVERSE*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.section-title {
  color: var(--title-text-color);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Main Navigation*/
.logo-web {
  color: var(--acent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.site-nav .link {
  color: var(--title-text-color);
}

.contacts {
  color: var(--primary-text-color);
}

.button {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
}

.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus,
.logo-web:hover,
.logo-web:focus,
.logo-studio:hover,
.logo-studio:focus,
.button:hover,
.button:focus {
  color: var(--acent-text-color);
}

.link.currant {
  color: var(--acent-text-color);
}

/* Hero*/
.hero-title {
  color: #ffffff;
  background-color: black; /*background-color it´s temporary put here*/
}

/* Work principles*/

.principles-title {
  color: var(--title-text-color);
}

/* What do we do section*/
.work-list-title {
  color: var(--title-text-color);
}

/* Our team section*/
.team-section {
  background-color: var(--grey-back-color);
}
.team-member-name {
  color: var(--title-text-color);
}

/* Our clients section*/

/* Adress section*/
.footer {
  background: var(--footer-background-color);
}
.adress {
  color: var(--white-text-color);
}

.email,
.phone {
  color: var(--contacts-text-color);
}

.web-white {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.slogan {
  color: var(--white-text-color);
}

/*PORTFOLIO PAGE CSS*/

.button-portfolio {
  background-color: var(--grey-back-color);
  color: var(--title-text-color);
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
}

.portfolio-title {
  color: var(--title-text-color);
}

.portfolio-group {
  color: var(--primary-text-color);
}

.portfolio-description {
  color: var(--white-text-color);
  background-color: var(--footer-background-color); /*temporary here*/
}
